<div class="card details" style="width: 17rem;">
<form action="/drivers/add" method="post">
    <div class="card-body">
        <div class="add">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" name="firstName">
        </div>

        <div class="add">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" name="lastName">
        </div>

        <!--<label for="">Driver of:</label>
        <select name="_truck">
        </select>
        <input type="text" name="_truck">-->

        <div class="add">
            <label for="birthday">Birthday</label>
            <input id="birthday" type="date" name="birthday">
        </div>

        <div class="add">
            <label for="image">Image</label>
            <input id="image" type="text" name="image">
        </div>

        <div>
            <button class="btn btn-secondary btn-lg active edit-btn" type="submit">Add this Driver</button>
        </div>

    </div>
</form>
</div>